<% @spaces.each do |space| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= space.title %></h5>
        <p class="card-text"><%= space.address %></p>
      </div>
      <div class="btn btn-primary">
        <%= link_to "More Info",space_path(space) %>
        <%= link_to new_space_booking_path(space.id), class: "btn btn-primary" do %>
          <i>Book Now</i>
         <% end %>
      </div>
  </div>
<% end %>
