<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to spaces_path, class:"navbar-brand" do %>
    <%= image_tag("spaces.png", height: '200', width: '200') %>
    <% end %>
    <div class="pointer-events-none row position-absolute w-full md:justify-center">
      <div class="col-8 col-lg-3">
        <input class="pointer-events-auto w-100 text-center p-2 border border-gray-300 text-gray-900 rounded-pill placeholder-gray-900"
        type="search" placeholder="Search for spaces">
      </div>
    </div>
    <div>
      <%= link_to "List your space", new_space_path, class:"nav-link d-flex" %>
      <%= link_to "My bookings", my_bookings_path, class:"nav-link"  %>
      <%# mobile menu %>
      <div class="block md:hidden">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
